<div class="row">
  <div class="intro indigo z-depth-1">
    <div class="header white-text">
      <h1>BOOK QUOTES</h1>
      <h5>
        Post your favourite quotes from your favourite books
      </h5>
      <%= render 'quotes/form' %>
    </div>
  </div>
</div>
<%= render 'quotes/all_quotes' %>
