<div class="footer">
  <footer class="page-footer indigo">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Built by: <a href="http://www.kerrisongarcia.com" class="grey-text text-lighten-4" target="_blank">Kerrison Garcia</a></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a href="http://www.kerrisongarcia.com" class="grey-text text-lighten-4" target="_blank">www.kerrisongarcia.com</a>
      </div>
    </div>
  </footer>
</div>
